<h1 class="head-title gstyle1 text-center"><%= @language.name %></h1>
<%if user_signed_in?%>
<p><%= link_to "Delete Language", language_path(@language),
                           :data => {:confirm => "You sure to Delete this section?",
                                     :method => "delete"} %></p>
<%end%>
<h4 class="gstyle2">Skills and Projects</h4>
<hr>
<%if user_signed_in?%>
<p><%= link_to "New Skill", new_language_skill_path(@language, @skill) %></p>
<%end%>
<% if @language.skills.any? %>

    <ul>
      <% @language.skills.each do |skill| %>
        <li class="gstyle3">
          Skill: <%= skill.skill %> <br>
          Project: <a href="<%= skill.project %>"> Click to see project</a>
        </li><br> <hr>
      <% end %>
    </ul>
  <% else %>
    <p>There are no skills yet!</p>
  <% end %>
